@import "../../../styles";

.rankContainer {
  display: table;
  background-color: mat-color($iTunes-top100-primary);
  margin-right: 5px;
}

.rankText {
  text-align:center;
  vertical-align: middle;
  display: table-cell;
  color: white
}
