<mat-form-field class="searchBar">
  <mat-label>Search</mat-label>
  <label>
    <input matInput placeholder="By album or artist" [(ngModel)]="searchText">
  </label>
</mat-form-field>

<div fxLayout="row wrap" fxLayoutAlign.gt-xs="space-evenly">
  <!--Create a card for each album, filter the list of albums by a search term-->
  <mat-card *ngFor="let album of topAlbums | async | listFilter:searchText:['name', 'artist']"
            appMaterialElevationOnHover="8"
            class="card truncate">
    <div fxLayout="row" fxLayoutAlign="start center" class="rowContainer">
      <!--Popularity rank shown here if screen size < s-->
      <app-album-rank [albumRank]="album.popularityRank" fxHide fxShow.lt-sm></app-album-rank>
      <!--Album cover image-->
      <img mat-card-image src="{{album.albumCoverUrl}}" alt="{{album.name}} by {{album.artist}}" class="img">
      <div fxLayout="row" class="truncate" fxLayoutAlign="start center">
        <!--Popularity rank shown here if screen size > xs-->
        <app-album-rank [albumRank]="album.popularityRank" fxHide fxShow.gt-xs></app-album-rank>
        <div fxLayout="column" class="truncate">
          <app-album-name [albumName]="album.name" [albumUrl]="album.albumUrl"></app-album-name>
          <app-album-artist [artistName]="album.artist" [artistUrl]="album.artistUrl"></app-album-artist>
        </div>
      </div>
    </div>
  </mat-card>
</div>
