<mat-form-field class="searchBar">
  <mat-label>Search</mat-label>
  <label>
    <input matInput placeholder="By album or artist" [(ngModel)]="searchText">
  </label>
</mat-form-field>

<mat-form-field>
  <mat-label>Filter by Genre(s)</mat-label>
  <mat-select [formControl]="genres" multiple>
    <mat-option *ngFor="let genre of genreList" [value]="genre">{{genre}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-progress-bar mode="indeterminate" *ngIf="!hasLoaded"></mat-progress-bar>

<div fxLayout="row wrap" fxLayoutAlign.gt-xs="space-evenly">
  <ng-container *ngFor="let album of topAlbums | listFilter:searchText:['name', 'artist']:genres.value">

    <!--If there isn't a match to their search/filter, show an error message-->
    <p *ngIf="!album && hasLoaded">We couldn't find a match for your query 😦</p>

    <!--Render a card if there is data-->
    <mat-card *ngIf="album"
              appMaterialElevationOnHover="8"
              class="card truncate">
      <div fxLayout="row" fxLayoutAlign="start center" class="rowContainer">
        <!--Popularity rank shown here if screen size < s-->
        <app-album-rank [albumRank]="album.popularityRank" fxHide fxShow.lt-sm></app-album-rank>
        <!--Album cover image-->
        <img mat-card-image src="{{album.albumCoverUrl}}" alt="{{album.name}} by {{album.artist}}" class="img">
        <div fxLayout="row" class="truncate" fxLayoutAlign="start center">
          <!--Popularity rank shown here if screen size > xs-->
          <app-album-rank [albumRank]="album.popularityRank" fxHide fxShow.gt-xs></app-album-rank>
          <div fxLayout="column" class="truncate">
            <app-album-text [text]="album.name" [url]="album.albumUrl" class="mat-body-strong"></app-album-text>
            <app-album-text [text]="album.artist" [url]="album.artistUrl" class="mat-body"></app-album-text>
            <app-album-text [text]="album.genre" [url]="album.genreUrl" class="mat-body"></app-album-text>
          </div>
        </div>
      </div>
    </mat-card>
  </ng-container>
</div>
