<mat-form-field class="searchBar">
  <mat-label>Search</mat-label>
  <label>
    <input matInput placeholder="By album or artist" [(ngModel)]="searchText">
  </label>
</mat-form-field>

<mat-form-field>
  <mat-label>Filter by Genre(s)</mat-label>
  <mat-select [formControl]="genres" multiple>
    <mat-option *ngFor="let genre of genreList" [value]="genre">{{genre}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-progress-bar mode="indeterminate" *ngIf="!hasLoaded"></mat-progress-bar>

<div fxLayout="row wrap" fxLayoutAlign.gt-xs="space-evenly">
  <ng-container *ngFor="let album of topAlbums | listFilter:searchText:['name', 'artist']:genres.value">

    <!--If there isn't a match to their search/filter, show an error message-->
    <p *ngIf="!album && hasLoaded">We couldn't find a match for your query! Please try another search/filter term.</p>

    <!--Render a card if there is data-->
    <app-album-card [album]="album" class="fillWidth"></app-album-card>
  </ng-container>
</div>
