<!--Create a card for each album and display relevant information-->
<mat-card class="card" *ngFor="let album of topAlbums | async">
  <mat-card-header>
    <div mat-card-avatar class="rank-container">
      <p class="rank-text">{{album.pos}}</p>
    </div>
    <mat-card-title>{{album.name}}</mat-card-title>
    <mat-card-subtitle>{{album.artist}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{album.imgUrl}}" alt="{{album.name}} by {{album.artist}}">
  <mat-card-actions>
    <a mat-button color="primary" href="{{album.iTunesLink}}" target="_blank">BUY</a>
  </mat-card-actions>
</mat-card>
